
/* font*/
@font-face {
	font-family: "PingFang HK";
	src: url("./assets/fonts/PingFangRegular.tff");
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: "PingFang HK";

}


h1{
	font-family: "PingFang HK";
}

.navbar{
	left:0px;
	top: 50px;
	}

#modal .d-flex{
	gap:100px;
	font-family: "PingFang HK";
	color: #FFFFFF;
}
